{% extends 'base.html.twig' %}

{% block title %}Se connecter - Snowtrick{% endblock %}

{% block content %}

    <form method="post">

        <section class="d-flex  justify-content-end p-5 container-fluid" id="picture">
            <div class=" p-2 p-lg-5">


                <h1 class="text-white text-center m-2 h3 mb-3 font-weight-normal">Connexion</h1>
                <label for="inputEmail" class="fw-bold mb-2">Votre email</label>
                <input type="email" name="email" id="inputEmail"
                       class="form-control mb-2"
                       required autofocus>
                <label for="inputUsername" class="fw-bold mb-2 ">Votre pseudo</label>
                <input name="_username"  type="text" class="form-control mb-2" id="inputUsername">

                <label for="inputPassword" class="fw-bold mb-2">Votre mot de passe </label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-2"
                       autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="form-groupe m-2 px-5 ">
                    <a href="" class="text-decoration-none m-3 text-dark fw-bold ">Mot de passe oublié </a>
                    <button class="button bg-primary text-white  m-3 w-100 rounded-1 border border-primary form-control form-control-lg"
                            type="submit">Se connecter
                    </button>

                </div>

            </div>

        </section>
        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}
    </form>
{% endblock %}
