<section class=" d-flex justify-content-end p-5 container-fluid" id="picture">
    <div class=" p-2 p-lg-5">

        {{ form_start(form) }}
        <h1 class="text-white text-center m-2 h3 mb-3 fw-bold">Ajouter des images</h1>
        {{ form_widget(form.fileName,{'attr': {'placeholder':'Nom du trick', 'class':'fw-bold'}}) }}
        <br>
        {{ form_end(form) }}
    </div>

</section>
