{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Snowtrick{% endblock %}

{% block content %}
        <form method="post">
            <section class="d-flex  justify-content-end p-5 container" id="picture">
                <div class=" p-2 p-lg-5">

                    <h1 class="text-white text-center m-2 h3 mb-3 font-weight-normal">Réinitialiser mon mot de passe.</h1>
                    <label for="inputEmail" class="mb-2 fw-bold">Votre email</label>
                    <input type="email" name="email" id="inputEmail"
                           class="form-control"
                           required autofocus>
                    <div class="form-groupe my-3 px-5 ">
                        <button class="button bg-primary text-white  m-2 w-100 rounded-1 border border-primary form-control form-control-lg"
                                type="submit">Valider
                        </button>
                    </div>
                </div>
            </section>
        </form>
{% endblock %}
