{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Snowtrick{% endblock %}

{% block content %}


    <div class="block-small">

        {% for message in app.flashes('notice') %}
            <div class="alert-info">{{ message }}</div>
        {% endfor %}
        <form method="post">
            <section class="d-flex  justify-content-end p-5 container-fluid" id="picture">
                <div class=" p-2 p-lg-5">

                    <h1 class="text-white text-center m-2 h3 mb-3 font-weight-normal">Merci de nous contacter</h1>
                    <label for="inputEmail" class="mb-2">Votre email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control"
                           required autofocus>

                    <div class="form-groupe m-2 px-5 ">
                        <p class="text-center"><a href="{{ path('app_reset_password') }} " class="text-decoration-none m-3 text-dark fw-bold ">Mot de passe oublié </a></p>
                        <p class="text-center"><a href="{{ path('app_register') }}" class="text-decoration-none m-3 text-center text-dark fw-bold">Créer un compte</a></p>
                        <button class="button bg-primary text-white  m-3 w-100 rounded-1 border border-primary form-control form-control-lg"
                                type="submit">Se connecter
                        </button>
                    </div>
                </div>
            </section>
    </form>


{% endblock %}

