{% extends 'base.html.twig' %}

{% block title %}Modifier votre commentaire{% endblock %}

{% block content %}
    <h1 class="text-dark text-center fw-bold">Modidier un commentaire</h1>

    {{ include('comment/_form.html.twig') }}


{% endblock %}
