{% extends 'base.html.twig' %}
  {% block album %}{% endblock %}
{% block title %}Commentaire{% endblock %}

{% block content %}

    <section id="comment ">
        <h2 class="fw-bold text-center"> Commentaires</h2>
        <br>
        <a href="{{ path('app_comment_new')}}"
           class="btn btn-sm btn-outline-warning border border-info border-3 text-dark fw-bold ">Créer un commentaire<img
                    src="{{ asset('assets/images/logoCommentaire.png') }}" height="18px"
                    alt="Created comment" class="m-3"></a>
        <ul class="timeline">
            <li>
                <div class="timeline-panel-container ">

                    <div class="timeline-panel mb-3 ">
                        <div class="row">
                            <div class="col-2">
                                <img src="{{ asset('assets/images/snowboarding.png') }}" class="logo" alt="logo">

                            </div>
                            <div class="col-10">
                                <div class="timeline-heading">
                                    <h5>Auteur</h5>
                                    <p>Message</p>
                                </div>
                                <div class="timeline-body">
                                    <div class="d-flex justify-content-end align-items-center mt-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-muted">Created</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="text-muted">Updated</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </li>
        </ul>

    </section>

{% endblock %}
