{% extends 'base.html.twig' %}

{% block album %}{% endblock %}

{% block title %}Modifier Trick -Snowtrick{% endblock %}

{% block content %}

    <h1 class="text-dark text-center fw-bold">Modifier une image</h1>
    {{ form_start(form) }}
    {% block form %}
        {% include "/trick/_form.html.twig" %}
    {% endblock %}

    {{ form_end(form) }}


{% endblock %}