{% extends 'base.html.twig' %}

{% block title %}Ajouter les médias' - Snowtrick{% endblock %}

{% block content %}
    <section class=" d-flex justify-content-end p-5 container-fluid" id="picture">
        <div class=" p-2 p-lg-5">

            {{ form_start(form) }}
            <h1 class="text-white text-center m-2 h3 mb-3 fw-bold">Ajouter une image</h1>
            {{ form_widget(form.fileName,{'attr': {'placeholder':'Image', 'class':'fw-bold'}}) }}
            <br>
            {{ form_end(form) }}
            <p class="text-center rounded-1 border border-secondary form-control-sm m-2 w-100">
                <a href="">Ajouter une vidéo</a>



        </div>
    </section>

{% endblock %}