<a href="{#{{ path('app_category_delete', ) }}#}"
   class="btn btn-sm btn-outline-secondary"><img
            src="{{ asset('assets/images/logoDelete.png') }}" height="18px"
            alt="Supprimer category"></a>

