{% extends 'base.html.twig' %}

{% block title %}Modifier Catégorie du trick{% endblock %}

{% block album %}{% endblock %}

{% block content %}
    <h1 class="text-dark text-center fw-bold">Modifier Catégorie du trick</h1>
    <section class="container-fluid background-layout-stairs">
        <div class="row justify-content-center">
            <div class="col-md-8 ">
                <div class="card shadow-lg rounded my-5">
                    <div class="jumbotron vh-100card-img-top">
                        <div class="p-1 p-md-4 mb-2 text-white rounded">
                            <div class="row justify-content-center">

                                <br>
                                {{ form_start(form) }}

                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="row">

            <div class="col m-6">
                <a href="{{ path('app_category') }}"
                   class="btn btn-sm btn-outline-warning border border-info border-3"><img
                            src="{{ asset('assets/images/logoReturn.png') }}" height="18px"
                            alt="Return"></a>
            </div>

        </div>

    </div>
{% endblock %}
