/*.bd-placeholder-img {*/
/*    font-size: 1.125rem;*/
/*    text-anchor: middle;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    user-select: none;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .bd-placeholder-img-lg {*/
/*        font-size: 3.5rem;*/
/*    }*/
/*}*/

/*.b-example-divider {*/
/*    height: 3rem;*/
/*    background-color: rgba(0, 0, 0, .1);*/
/*    border: solid rgba(0, 0, 0, .15);*/
/*    border-width: 1px 0;*/
/*    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);*/
/*}*/

/*.b-example-vr {*/
/*    flex-shrink: 0;*/
/*    width: 1.5rem;*/
/*    height: 100vh;*/
/*}*/

/*.bi {*/
/*    vertical-align: -.125em;*/
/*    fill: currentColor;*/
/*}*/

/*.nav-scroller {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    height: 2.75rem;*/
/*    overflow-y: hidden;*/
/*}*/

/*.nav-scroller .nav {*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    padding-bottom: 1rem;*/
/*    margin-top: -1px;*/
/*    overflow-x: auto;*/
/*    text-align: center;*/
/*    white-space: nowrap;*/
/*    -webkit-overflow-scrolling: touch;*/
/*}*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#picture {
    width: 100%;
    min-height: 900px;
    background-image: url("../../upload/tricks/pexels-visit-almaty-848599.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background: #dcdde1;

}

.navbar-item-custom, .navbar-item-custom a {
    color: white;
    text-decoration: none;
}

.btn-rond {
    width: 50px;
    height:50px;
    position:absolute;
    left: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 0 orange;
    background: white;
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to{
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.01);
    }
}
.logo-btn-rond{
    width: 50px;
}
.btn-rond1 {
    width: 50px;
    height:50px;
    left: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 0 orange;
    background: white;
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to{
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.01);
    }
}
.logo-btn-rond1{
    width: 50px;
}
.footer-custom {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
    margin-top: 25px;
}

.logo {
    width: 55px;
    height: 55px;
    margin-left: 50px;
}
.logoComment{
    margin-left: 50px;
}

.trick-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.trick-item span {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.timeline {
    padding: 30px 10px;
    position: relative;
}

.timeline-panel-container {
    width: 100%;

}

.timeline-panel {
    position: relative;
    width: 90%;
    padding: 20px 50px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: #e9ecef;
}

.timeline-panel::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -14px;
    border-left: 14px solid #e9ecef;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    transform: translateY(-50%);
}

.timeline-panel.inverted::after {
    left: -14px;
    right: auto;
    border-left: none;
    border-right: 14px solid #e9ecef;
}








