
<div class="d-flex justify-content-end align-items-center mt-3">
    <div class="btn-group ">
        <a href="{{ path('app_trick_delete', {'slug': trick.slug }) }}"

           class="btn btn-sm btn-outline-warning border border-info border-3 text-dark fw-bold"><img
                    src="{{ asset('assets/images/logoDelete.png') }}" height="18px"
                    alt="Supprimer trick"></a>
    </div>
</div>