<form method="post" action="{{ path('app_trick_delete', {'slug': trick.slug }) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <button class="btn"><img
                src="{{ asset('assets/images/logoDelete.png') }}" height="18px"
                alt="Supprimer trick"></button>
</form>
