{% extends 'trick/index.html.twig' %}

{% set title  = "Nouvelle Trick"%}

{% block content %}
    <div class="card-title-band">
        <h1 class="card-title trick-title">{{trick.title}}</h1>
    </div>
    {{ form_start(form)}}

    {% block form %}
        {% include "/trick/_form.html.twig" %}
    {% endblock %}
    {{ form_end(form)}}
{% endblock %}