{% extends 'base.html.twig' %}

{% block title %}Nouvelle Trick{% endblock %}

{% block content %}

    {{ include('trick/_form.html.twig') }}

    <a href="{{ path('app_trick') }}">Retour</a>
{% endblock %}
