{% extends 'base.html.twig' %}

{% block title %}Nouveau Trick -Snowtrick{% endblock %}

{% block album %}{% endblock %}
{% block content %}

        <h1 class="text-dark text-center fw-bold">Nouveau trick</h1>

        {% include "/trick/_form.html.twig" %}

{% endblock %}